[submodule "Integrating-SL-and-RL-for-AO"]
	path = Integrating-SL-and-RL-for-AO
	url = https://github.com/Tomeu7/Integrating-SL-and-RL-for-AO
[submodule "MOSS-DDPG"]
	path = MOSS-DDPG
	url = https://github.com/xgz0921/MOSS-DDPG.git
[submodule "AO-MARL/AO-MARL"]
	path = AO-MARL/AO-MARL
	url = https://github.com/Tomeu7/AO-MARL.git
[submodule "MPC-SensorlessAO"]
	path = MPC-SensorlessAO
	url = https://github.com/jinsungkim96/MPC-SensorlessAO
[submodule "adaptive_optics_gym"]
	path = adaptive_optics_gym
	url = https://github.com/payamparvizi/adaptive_optics_gym
